* {
    box-sizing: border-box;
}

body {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
}

.button {
  border-radius: 3px;
  display: inline-block;
  padding: .8em 1.618em;
}

.puzzle-title {
  color: #333;
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
}

.drop-zone {
  background-image: url('images/_Puzzle_solved.png');
  height: 579px;
  margin: 0 auto;
  position: relative;
  width: 868px;
}

.scramble-button {
  background: #dade99;
  bottom: 1.5em;
  position: relative;
}

.pieces-tray {
  height: 200px;
  margin: 0 auto;
  position: relative;
  width: 868px;
}

.piece {
  height: 95px;
  margin-bottom: 2px;
  width: 110px;
}

.piece05 {
  background-image: url('images/Group 5.png');
}

.piece06 {
  background-image: url('images/Group 6.png');
}

.piece07 {
  background-image: url('images/Group 7.png');
}

.piece08 {
  background-image: url('images/Group 8.png');
}

.piece09 {
  background-image: url('images/Group 9.png');
}

.piece10 {
  background-image: url('images/Group 10.png');
}

.piece11 {
  background-image: url('images/Group 11.png');
}

.piece12 {
  background-image: url('images/Group 12.png');
}

.piece13 {
  background-image: url('images/Group 13.png');
}

.piece14 {
  background-image: url('images/Group 14.png');
}

.piece15 {
  background-image: url('images/Group 15.png');
}

.piece16 {
  background-image: url('images/Group 16.png');
}

.piece17 {
  background-image: url('images/Group 17.png');
}

.piece18 {
  background-image: url('images/Group 18.png');
}

.piece19 {
  background-image: url('images/Group 19.png');
}

.piece20 {
  background-image: url('images/Group 20.png');
}

.piece21 {
  background-image: url('images/Group 21.png');
}

.piece22 {
  background-image: url('images/Group 22.png');
}

.piece23 {
  background-image: url('images/Group 23.png');
}

.piece24 {
  background-image: url('images/Group 24.png');
}

.piece25 {
  background-image: url('images/Group 25.png');
}

.piece26 {
  background-image: url('images/Group 26.png');
}

.piece27 {
  background-image: url('images/Group 27.png');
}

.piece28 {
  background-image: url('images/Group 28.png');
}

.piece29 {
  background-image: url('images/Group 29.png');
}

.piece30 {
  background-image: url('images/Group 30.png');
}

.piece31 {
  background-image: url('images/Group 31.png');
}

.piece32 {
  background-image: url('images/Group 32.png');
}

.piece33 {
  background-image: url('images/Group 33.png');
}

.piece34 {
  background-image: url('images/Group 34.png');
}

.piece35 {
  background-image: url('images/Group 35.png');
}

.piece36 {
  background-image: url('images/Group 36.png');
}

.piece37 {
  background-image: url('images/Group 37.png');
}

.piece38 {
  background-image: url('images/Group 38.png');
}

.piece39 {
  background-image: url('images/Group 39.png');
}

.piece40 {
  background-image: url('images/Group 40.png');
}

.piece41 {
  background-image: url('images/Group 41.png');
}

.piece42 {
  background-image: url('images/Group 42.png');
}

.piece43 {
  background-image: url('images/Group 43.png');
}

.piece44 {
  background-image: url('images/Group 44.png');
}

.piece45 {
  background-image: url('images/Group 45.png');
}
